body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

.hero-text {
  font-size: 25px;
}

.xslide-handle {
  height: 25px !important;
  width: 25px !important;
}

.issue-badge {
  background-color: #7057ff !important;
}

.repo-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -5px 10px 60px -13px rgba(0, 0, 0, 0.2);
  height: 300px;
}

.item-container {
  padding: 10px;
  transition: all 0.3s ease;
}

.selector-container {
  margin-bottom: 20px;
}

.profile-container img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 8px;
  float: left;
  margin-right: 15px;
}

.user-information h2 {
  margin-bottom: 2px;
  font-weight: 600;
  color: #6c7583;
  font-size: 14px;
}

.user-information p {
  margin-bottom: 0;
  font-size: 12px;
}

.repo-name {
  margin: 10px 0;
  font-size: 20px;
}

.created-info {
  margin-bottom: 10px;
}

.repo-name a {
  font-weight: 700;
  text-decoration: none;
}

.repo-description {
  font-size: 14px;
  margin-bottom: 0;
  color: #6e7583;
  margin-bottom: 15px;
}

.repo-info {
  font-size: 12px;
  bottom: 20px;
  left: 20px;
  right: 25px;
  background: #fff;
  padding: 10px;
}

.language {
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-size: 12px;
}

.stars,
.issues {
  margin-left: 6px;
}

.stars svg {
  margin-top: -2px;
}

.issues svg {
  margin-top: -2px;
  margin-right: 10px;
}

.input-range {
  margin-top: 10px;
}

.explore-button {
  margin-top: 18px;
}

.selector-container {
  background-color: #e9ecef;
  padding: 12px 0;
}

.no-repos {
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  font-size: 20px;
}
